.vs
WsAutentificacionSimulador/[Oo]bj/Debug/
WsAutentificacionSimulador/[Oo]bj/Release/
WsAutentificacionSimuladorTest/[Oo]bj/Debug/
WsAutentificacionSimuladorTest/[Oo]bj/Release/
DLL
.ruleset
.sonarlint
.sonarqube